<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <title>Login page</title>



</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
            <li>
                <a href="/">Back to homepage</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Login Page</h1>
        <h2>Login</h2>
    </header>
    <main>
        <ul>
            <li>
                <form action="/auth/login" method="POST">
                    <input type="text" name="username">
                    <br>
                    <input type="text" name="password">
                    <br>
                    <input type="submit" name="login">
                    <br>
                </form>
            </li>
            <li>
                <a class="google-btn" href='/auth/google'>Google</a>
            </li>
        </ul>
    </main>
</body>

</html>