<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/auth/register">Register</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to the homepage</h1>
        <h2>elo </h2>
    </header>
    <main>
        <p>Tak o se z buta wlazłes</p>
    </main>
</body>

</html>